@import '../colors.scss';

.about-me {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  box-sizing: border-box;

  .bio {
    width: 60%;
    padding: 20px;
    line-height: 30px;

    h5 {
      text-transform: uppercase;
      color: $mustard;
    }

    h1 {
      font-family: fantasy;
    }
  }
}
