@import '../colors.scss';

.biography {
  margin-top: 60px;

  .action-items {
    width: 100%;

    .action-item {
      width: 25%;
      height: 50px;
      border: 0;
      font-size: 13px;
      text-transform: uppercase;
      background-color: #24263b;
      color: #fff;
      outline: none;

      &.active {
        background-color: $mustard;
        color: rgb(0,0,0);
      }
    }
  }

  .content {
    background-color: #323552;

    .bio-wrapper {
      display: flex;
      justify-content: space-between;
      padding: 20px 0;
      box-sizing: border-box;

      .bio {
        width: 60%;
        padding: 20px;
        line-height: 30px;

        h5 {
          text-transform: uppercase;
          color: $mustard;
        }

        h1 {
          font-family: fantasy;
        }
      }
    }
  }
}
