@import './colors.scss';
@import './mixin.scss';

.banner {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px 0;
  box-sizing: border-box;
 
  nav {
    width: 50%;
    ul {
      display: flex;
      justify-content: space-between;
      position: relative;
    }

    li {
      list-style: none;
      padding: 10px;
      text-transform: uppercase;

      &:not(.chat) {
        font-size: 12px;
        text-align: center;
        padding-bottom: 0;
      }

      &.chat {
        color: $mustard;
        border: 1px solid $mustard;
        font-size: 13px;
        cursor: pointer;
      }

      &.active { border-bottom: 3px solid $mustard; }

      &:hover {
        &:not(.chat) {
          border-bottom: 3px solid $mustard;
        }
      }
    }
  }

  .title {
    padding: 10px 0;
    font-family: fantasy;
    font-weight: bold;
    font-size: 25px;
  }
}