@import './colors.scss';
@import './mixin.scss';

.banner {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
 
  nav {
    width: 40%;
    ul {
      display: flex;
      justify-content: space-between;
      position: relative;
    }

    li {
      list-style: none;
      padding: 10px;
      text-transform: uppercase;

      &:not(.chat) {
        font-size: 12px;
        width: 30px;
        text-align: center;
        padding-bottom: 0;
      }

      &.chat {
        color: $mustard;
        border: 1px solid $mustard;
        font-size: 13px;
      }

      &.active {
        color: $mustard;

        &:after {
          position: absolute;
          background-color: transparent;
          border: 5px solid $mustard;
          border-color: $mustard $mustard transparent transparent;
          content: '';
          margin-top: 10px;
          margin-left: 9.5px;
          transform-origin: 0 0;
          transform: rotate(135deg);
        }
      }
    }
  }

  .title { padding: 10px; }
}