$mobileSm: 320px;
$mobileMd: 414px;
$mobileLg: 480px;

// TABLET
$tabletSm: 600px;
$tabletMd: 768px;
$tabletLg: 900px;

// DESKTOP
$desktopSm: 1024px;
$desktopMd: 1280px;
$desktopLg: 1440px;
$desktopXLg: 1600px;
