.home-page {
  background-image: url(../images/bg-home.jpg);
  height: 100vh;
  position: relative;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;

  .bg-overlay {
    background-color: #3b3e61;
    opacity: 0.8;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
}
