@import './colors.scss';

.page-hero {
  display: flex;
  justify-content: space-between;
  height: 550px;

  .basic-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;
    padding: 30px 0;
    margin-top: 30px;
  }

  .idea { height: 300px; }

  .greeting { 
    color: $mustard;
    font-size: 30px;
  }

  h1 {
    font-size: 60px;
    font-family: fantasy;
    margin: 20px 0;
  }

  .title { font-size: 25px; }
}
